@import "../../../../styles.scss";

.card {
    @include commonText;
    border-radius: $border-radius-sm;
    background-color: $ecru;
    border: 1px solid rgba($dark, 18%);
    background-color: lighten($color: rgba($ecru, 80%), $amount: 3%);
    padding: 1rem;
    .card-body {
        padding: .86rem;
        figure {
            img {
                border-radius: 50%;
            }
        }
    }
}



.card-title {
    color: $dark;
    padding: .25rem 0 .25rem 0;
    @media (max-width: 992px) {
        font: {
            size: 1rem;
        }
    }
    @media (min-width: 992px) and (max-width: 1400px) {
        font: {
            size: 1.33rem;
        }
    }
    @media (min-width: 1400px) {
        font: {
            size: 1.66rem;
        }
    }
}
