<h1 class="animated fadeIn fast mTop">{{ user.login | uppercase }}</h1>
<hr>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">User {{ user.id }} data list</li>
    </ol>
</nav>
<main class="animated fadeIn fast no-gutters">
    <div class="row">
        <figure class="col col-lg-4">
            <img [src]="user.avatar_url" [alt]="user.login" class="img-thumb" width="100%">
        </figure>
        <article class="col col-lg-8">
            <ul class="list-group list-group-flush card">
                <li class="list-group-item"><span class="emphasis">Url:</span> {{ user.url }}</li>
                <li class="list-group-item"><span class="emphasis">Html url:</span> {{ user.html_url }}</li>
                <li class="list-group-item"><span class="emphasis">Followers url:</span> {{ user.followers_url }}</li>
                <li class="list-group-item"><span class="emphasis">Followers_url:</span> {{ user.followers_url }}</li>
                <li class="list-group-item"><span class="emphasis">Following_url:</span> {{ user.following_url }}</li>
                <li class="list-group-item"><span class="emphasis">Gists_url:</span> {{ user.gists_url }}</li>
                <li class="list-group-item"><span class="emphasis">Starred_url:</span> {{ user.starred_url }}</li>
                <li class="list-group-item"><span class="emphasis">Subscriptions_url:</span> {{ user.subscriptions_url }}</li>
                <li class="list-group-item"><span class="emphasis">Organizations_url:</span> {{ user.organizations_url }}</li>
                <li class="list-group-item"><span class="emphasis">Repos_url:</span> {{ user.repos_url }}</li>
                <li class="list-group-item"><span class="emphasis">Events_url:</span> {{ user.events_url }}</li>
                <li class="list-group-item"><span class="emphasis">Received_events_url:</span> {{ user.received_events_url }}</li>
                <li class="list-group-item"><span class="emphasis">Type:</span> {{ user.type }}</li>
                <li class="list-group-item"><span class="emphasis">Site_admin:</span> {{ user.site_admin }}</li>
            </ul>
        </article>
    </div>
</main>