<app-navbar></app-navbar>
<h1 class="mTop text-justify">GitHub Users APP</h1>
<hr class="mt5 pb25">
<main class="container animated fadeIn fast no-gutters">
    <div class="card-columns">

        <h1>Hello World</h1>

        <!-- *ngFor="let user of users; let i = index" -->

        <!-- <app-user-card [user]="user" *ngFor="let user of users" (selectedUser)="viewUser($event)">
        </app-user-card> -->

        <!-- this selectedUser is the Output that comes from this Component and calls the Method viewUser. It pass the click event from app-user-card -->
    </div>
</main>

