// Colors
$dark: #516a7c;
$turquoise: #4bbab5;
$blue: #00b1ff;
$ecru: #e9eff4;
$grey: #b9b9b9;

// Other Variables
$border-radius: 0.5rem;
$cubic-bezier: cubic-bezier(1, 0, 0.4, 0.46);
$default-font: "Gotham", Arial, Helvetica, sans-serif;
$border-light: 1px solid
    darken(
        $color: $ecru,
        $amount: 4%,
    );

// Structure
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Gotham", Arial, Helvetica, sans-serif;
    background-color: rgba($color: $ecru, $alpha: 0.3);
    color: $dark;
}
.container {
    margin: auto;
    @media (max-width: 992px) {
        width: 96%;
    }
    @media (min-width: 992px) {
        width: 77%;
    }
}

// Fonts
@mixin commonText {
    font: {
        font-family: "Gotham", Arial, Helvetica, sans-serif;
        size: 0.88rem;
        letter-spacing: 0.05rem;
    }
}
@mixin commonButton {
    color: $dark;
    border: 1px solid $dark;
    width: 50%;
    padding: 0.46rem 0.46rem;
    border-radius: $border-radius-sm;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 $dark;
    -webkit-transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    transition: all ease 0.25s;
}
.no-gutters {
    padding-right: 0;
    padding-left: 0;
}
hr {
    width: 4.7rem;
    height: 0.3rem;
    margin: 1.46rem 0 2.6rem 0;
    background-color: $turquoise;
    border-top: transparent;
}
.breadcrumb {
    background-color: transparent;
}

// Correction Default Styles
button {
    color: $dark;
    cursor: default;
    background-color: transparent;
    padding: 1px 6px;
    border-width: 0;
    border-style: outset;
    border-color: transparent;
    border: none;
}
button:focus {
    outline: none !important;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline: -ms-focus-ring-color auto 0px;
    outline: -o-focus-ring-color auto 0px;
    outline: -moz-focus-ring-color auto 0px;
}
// Selector
::selection {
    color: white;
    background: $turquoise;
}
