<h1 class="mTop text-justify">GitHub API users search</h1>
<hr class="mt5 pb25">

<div class="row animated fadeIn fast" *ngIf="users.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      There are no matching results with the term: {{ term }}
    </div>
  </div>
</div>

<main class="container animated fadeIn fast no-gutters">
  <div class="card-columns">
    <app-user-card [user]="user"
      *ngFor="let user of users | paginate: { id: 'listing-pagination', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalUsers } let i = index"
      (selectedUser)="viewDetail($event)">
    </app-user-card>
  </div>
  <div class="bg-white pagination-box paginationGrid">
    <div>
      <span>Items per page</span>
      <select (change)="showItems($event)" class="form-control">
        <option value="9">9</option>
        <option value="6">6</option>
        <option value="18">18</option>
      </select>
    </div>
    <pagination-controls id="listing-pagination" class="pagination justify-content-end" maxSize="10"
      directionLinks="true" (pageChange)="page=$event">
    </pagination-controls>
  </div>
</main>